<div class="card mb-3">
  <div class="card-block px-3 py-2">
    <h1 class="card-title">About</h1>
    <p>The Cheer Post is a platform dedicated to the development of the Cheer community, both UK and worldwide. It is a place for coaches and athletes to share, discuss and learn in order to help the progression of Cheerleading.</p>

    <p>The Cheer Post is a a forum for discussion. Got a question the cheer community could help you answer? Perhaps a legality question or you need competition advice, use The Cheer Post to get your answer. Click <%= link_to 'here', new_user_path, class:"text-highlight" %> to sign up (it's super quick). </p>

    <p>The Cheer Post also offers articles, because who doesn't love reading about Cheer? Our articles are there to give you more information about the sport you love. They are written by athletes, coaches and judges to give you a unique perspective and help you get the most out of Cheerleading. </p>

    <h3 class="center-text pt-3">Want to write for The Cheer Post?</h3>
    <p>We are always on the look out for passionate writers that want to contribute to the Cheer community! Drop us an email at hello@thecheerpost.com to find out more.</p>
  </div>
</div>
