<div class="card mb-3">
  <div class="card-block px-3 py-2">
    <h1 class="card-title py-2">Terms of Use</h1>
    <ul>
      <li>
        The Cheer Post is not responsible for any content posted on the forum. Content posted is the view of the user who posted it.
      </li>
      <li>
        Users must not post any obscene, rude, hateful, threatening or illegal content. The Cheer Post reserves the right to edit or delete any content posted or user accounts on The Cheer Post.
      </li>
      <li>
        Users may not post copyrighted material, unless the owner has given permission to do so.
      </li>
      <li>
        Electronic spamming will not be tolerated. Posts will be deleted.
      </li>
      <li>
        Membership is restricted to those aged 14 or older.
      </li>
      <li>
        The Cheer Post has the right to change it’s rules and Terms of Use at any time.
      </li>
      <li>
        By registering with thecheerpost.com and/or thecheerpost.co.uk you agree to us collecting your personal information. Only site administrators have access to this data.
      </li>
      <li>
        If you believe any content needs to be reviewed by an admin, please report the content to The Cheer Post by emailing hello@thecheerpost.com.
      </li>
    </ul>
  </div>
</div>
