  <div class="card mb-3">
    <div class="card-block px-3 py-2">
      <h1 class="form-group row justify-content-center">
        Password reset
      </h1>
      <%= form_for(:password_reset, url: password_resets_path) do |f| %>
        <div class="form-group row justify-content-center">
          <div class="col-9">
            <%= f.text_field :email, placeholder: 'email@email.com', class: 'form-control' %>
          </div>
        </div>
        <%= f.submit 'Submit', class: 'btn btn-light btn-lg mt-1' %>
      <% end %>
    </div>
  </div>
</div>
