<% if current_user && current_user.admin? %>
  <div class="card mb-2">
    <div class="card-block px-3 py-3">
      <%= link_to 'New article', new_article_path, class: 'card-link' %>
    </div>
  </div>
<% end %>
<% if @articles.empty? %>
  <p>There are no articles</p>
<% else %>
  <% @articles.each do |article| %>
    <div class="card mb-2">
      <div class="card-block px-4 py-2">
        <h1><%= link_to article.title, article_path(article), class: 'card-title py-2' %></h1>
        <h2 class="pt-1 pb-2"><%= article.subheading %></h2>
        <h3 class="pt-1">Written by <%= article.author %></h3>
      </div>
    </div>
  <% end %>
<% end %>
