<% if current_user && current_user.admin? %>
  <div class="card mb-2">
    <div class="card-block px-3 py-3">
      <%= link_to 'New article', new_article_path, class: 'card-link' %>
    </div>
  </div>
<% end %>
<% if @articles.empty? %>
  <p>There are no articles</p>
<% else %>
  <% @articles.each do |article| %>
    <div class="card mb-3">
      <div class="card-block px-3 py-2">
        <%= link_to article.title, article_path(article), class: 'card-title py-2 heading-1' %>
        <p class="card-subtitle pt-1 pb-2 heading-2"><%= article.subheading %></p>
        <p class="card-subtitle pt-1 pb-2 heading-3"><%= article.author %></p>
      </div>
    </div>
  <% end %>
<% end %>
