<% if @forum_categories.empty? %>
  <p>There are no categories</p>
<% else %>
  <% @forum_categories.each do |f| %>
    <%= f.title %>
  <% end %>
<% end %>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
