<% if @forum_threads %>
  <div class="card mb-2">
    <div class="card-block px-3 pt-1">
      <h1 class="card-title">Recent threads</h1>
    </div>
  </div>
  <% @forum_threads.each do |thread| %>
    <div class="card mb-2">
      <h3 class="card-block px-3 pb-2 pt-3">
        <%= link_to thread.title, forum_thread_path(thread) %>
      </h3>
    </div>
  <% end %>
<% end %>
<% if @articles %>
  <div class="card mb-2">
    <div class="card-block px-3 pt-1">
      <h1 class="card-title">Recent articles</h1>
    </div>
  </div>
  <% @articles.each do |article| %>
    <div class="card mb-2">
      <div class="card-block px-3 py-2">
        <h1><%= link_to article.title, article_path(article), class: 'card-title py-2' %></h1>
        <h2 class="pt-1 pb-2"><%= article.subheading %></h2>
        <h3 class="pt-1">Written by <%= article.author %></h3>
      </div>
    </div>
  <% end %>
<% end %>
