.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  
}

.footer-text {
  text-align: center;
}

.body {
  height: 100%;
}
.content{
  height: 100%;
}

.gradient {
  padding-top: 1rem;

  background-image:
    linear-gradient(
      to bottom right, 
      #266dd3, #11f4b4
    );
}

.form-link {
  padding-left: 15rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}
