.body {
  height: 100%;
  margin: 0px;
  padding: 0px;

}
.container {
    height:100%;

}

.flex-container {
  display: flex;
  padding-top: 1rem;
  background-image:
    linear-gradient(
      to bottom right, 
      #266dd3, #11f4b4
    );
}

html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.footer,
.push {
  height: 6rem;
}
.form-link {
  padding-left: 15rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}
