.body {
  height: 100%;
  padding: 0px;
}

.container {
  height:100%;
}

.flex-container {
  min-height: 100vh - 10vh;
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-image:
    linear-gradient(
      to bottom right, 
      #266dd3, #11f4b4
    );
} 

.flex-container, html, body {
  height: 100%;
}

.wrapper{
  min-height: 100%;
}

.form-link {
  padding-left: 15rem;
}

.horizontal-space {
  display: flex;
  justify-content: space-between;
  font-weight: lighter;
}

.site-footer-container {
  text-align: center;
  justify-content: center;
  font-weight: lighter;
  display: flex;
}

.form-align {
  text-align: right;
}

.center-text {
  text-align: center;
}
