<h1><%= @forum_thread.title %></h1>

<% @forum_thread.forum_posts.each do |post| %>
  <p><%= post.message %></p>
<% end %>

<%= render partial: "forum_posts/form", locals: { button_label: 'Post' } %>
