<footer>
  <p class="site-footer-container col-12 pt-4">Want to write for The Cheer Post? Drop us an email at hello@thecheerpost.com</p>
  <div class="site-footer-container pb-4 pt-4">
    <%= link_to 'About', static_pages_about_path, class:"col-2" %>
    <%= link_to 'Terms of Use', static_pages_terms_of_use_path, class:" col-2" %>
    <%= link_to 'Sign Up', new_user_path, class:" col-2" %>
  </div>
</footer>
